<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Olly's Cuisine</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="bootstrap-4.3.1-dist/css/bootstrap.min.css">
    <script
  src="https://code.jquery.com/jquery-3.5.1.js"
  integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
  crossorigin="anonymous"></script>
    <script src="bootstrap-4.3.1-dist/js/bootstrap.min.js"></script>
    <style>
      p {
        font-family: 'Times New Roman';
      }
    </style>
  </head>
  <body>
    
    
    <h3>{% block heading %}{% endblock %}</h3>

    {% block body %}
    {% endblock %}
  </body>
</html>
